.flag {
    height: 50px;
    width: 75px;
}

.glyphicon.glyphicon-trash {
    font-size: 20px;
}

.modal-body {
    display: block;
}

.ng-valid {
    border: thin solid #090;
}

.ng-invalid {
    border: thin solid #990000;
}